<h1>チャンネル一覧</h1>
<p>現在 <%= @channels.size %> チャンネルが登録されています。</p>
<table>
  <tr>
    <th>ID</th>
    <th>IRC上でのチャンネル名</th>
    <th>チャンネル同一性識別名</th>
    <th>データベース登録名</th>
    <th>ログ取得状況</th>
    <th></th>
  </tr>
<% @channels.each do |channel| %>
  <tr>
    <td><%= channel.id %></td>
    <td><%= channel.original %></td>
    <td><%= channel.downcase %></td>
    <td><%= channel.alphabet %></td>
    <td><%= channel.enable ? '取得中' : '停止中' %></td>
    <td><%= link_to('詳細', channels_show_path(channel)) %></td>
  </tr>
<% end %>
</table>

