<% title('チャンネル一覧') %>
<%= render('shared/navbar') %>
<div class="container main-container">
  <%= render('shared/flash') %>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>チャンネル</h1>
      </div>
      <p>現在 <%= @channels.size %> チャンネルが登録されています。</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="channel-name">チャンネル名</th>
            <th class="channel-last-speech">最終発言日時</th>
            <th class="channel-logging-enabled">ログ取得中</th>
          </tr>
        </thead>
        <tbody>
          <% @channels.each do |channel| %>
            <tr>
              <td class="channel-name"><%= link_to(channel.name_with_prefix, channel) %></td>
              <% if last_speech = channel.last_speech %>
                <% anchor = last_speech.id %>
                <% browse_day = ChannelBrowse::Day.new(channel: channel, date: last_speech.timestamp.to_date) %>
                <td class="channel-last-speech"><%= link_to(last_speech.timestamp.strftime('%F %T'), channels_day_path(browse_day.params_for_url.merge({ anchor: anchor })), id: anchor) %></td>
              <% else %>
                <td class="channel-last-speech">発言なし</td>
              <% end %>
              <td class="channel-logging-enabled"><%= channel.logging_enabled? ? fa_icon('check') : '' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
