<% title(@channel.name_with_prefix) %>
<div class="container main-container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <ol class="breadcrumb">
            <li><%= link_to('チャンネル', channels_path) %></li>
            <li class="active"><%= @channel.name_with_prefix %></li>
          </ol>

          <article>
            <div class="page-header">
              <h1><%= @channel.name_with_prefix %></h1>
            </div>

            <% if @latest_topic %>
              <div class="current-topic well">
                <h2>トピック</h2>
                <p><%= raw(linkify(@latest_topic.message)) %></p>
                <% browse_topic_day = ChannelBrowse::Day.new(channel: @channel, date: @latest_topic.timestamp.to_date) %>
                <p class="topic-by"><small>[<%= link_to("#{@latest_topic.timestamp.strftime('%F %T') } に #{@latest_topic.nick} が設定", browse_topic_day.path(anchor: @latest_topic.fragment_id)) %></small>]</p>
              </div>
            <% end %>

            <p class="channel-today-yesterday-buttons">
              <%= link_to("今日のログ（#{@todays_speeches_count} 発言）", @browse_today.path, class: 'btn btn-responsible btn-success') %>
              <%= link_to("昨日のログ（#{@yesterdays_speeches_count} 発言）", @browse_yesterday.path, class: 'btn btn-responsible btn-default') %>
            </p>

            <% unless @latest_speeches.empty? %>
              <h2>最新の発言</h2>
              <%= render('shared/message_with_datetime_list', messages: @latest_speeches, show_channel: false) %>
            <% end %>

            <h2>年別のログ</h2>
            <ul>
              <% @years.each do |year| %>
                <% browse_year = ChannelBrowse::Year.new(channel: @channel, year: year) %>
                <li><%= link_to("#{year}年", browse_year.path) %></li>
              <% end %>
            </ul>

            <% if @channel.canonical_site? %>
              <h2>マスターサイト</h2>
              <%= @channel.canonical_site %>
            <% end %>
          </article>
        </div>
      </div>
    </div>

    <aside class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">チャンネル</h1>
        </div>

        <div class="panel-body">
          <ul class="list-unstyled channel-list">
            <% @channels.each do |channel| %>
              <% if channel == @channel %>
                <li><strong><%= channel.name_with_prefix %></strong></li>
              <% else %>
                <li><%= link_to(channel.name_with_prefix, channel) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</div>
