<% title([@channel.name_with_prefix, "#{@year}年"]) %>
<%= render('shared/navbar') %>
<div class="container main-container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <ol class="breadcrumb">
            <li><%= link_to('チャンネル', channels_path) %></li>
            <li><%= link_to(@channel.name_with_prefix, @channel) %></li>
            <li class="active"><%= @year %>年</li>
          </ol>

          <article>
            <div class="page-header">
              <h1><%= @channel.name_with_prefix %> <%= @year %>年</h1>
            </div>

            <ul>
              <% @month_count.each do |month, count| %>
                <% browse_month = ChannelBrowse::Month.new(channel: @channel, year: @year, month: month) %>
                <li><%= link_to('%d-%02d' % [@year, month], browse_month.path) %> (<%= count %>)</li>
              <% end %>
            </ul>
          </article>

          <% if @browse_prev_year || @browse_next_year %>
            <div class="row">
              <div class="col-xs-6">
                <% if @browse_prev_year %>
                  <p><%= link_to(fa_icon('chevron-left', text: '前の年'), @browse_prev_year.path, class: 'btn btn-primary btn-sm') %></p>
                <% end %>
              </div>

              <div class="col-xs-6">
                <% if @browse_next_year %>
                  <p class="text-right"><%= link_to(raw("次の年 #{fa_icon('chevron-right')}"), @browse_next_year.path, class: 'btn btn-primary btn-sm') %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <aside class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= @channel.name_with_prefix %></h1>
        </div>

        <div class="panel-body">
          <ul class="list-unstyled year-list">
            <% @years.each do |year| %>
              <% year_str = "#{year}年" %>
              <% if year == @year %>
                <li><strong><%= year_str %></strong></li>
              <% else %>
                <% browse_year = ChannelBrowse::Year.new(channel: @channel, year: year) %>
                <li><%= link_to(year_str, browse_year.path) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= @year %>年の他チャンネル</h1>
        </div>

        <div class="panel-body">
          <ul class="list-unstyled other-channel-list">
            <% @other_channels.each do |channel| %>
              <% browse_other_channel = ChannelBrowse::Year.new(channel: channel, year: @year) %>
              <li><%= link_to(channel.name_with_prefix, browse_other_channel.path) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</div>
