<% title([@channel.name_with_prefix, "#{@year}年"]) %>
<%= render('shared/navbar') %>
<div class="container main-container">
  <%= render('shared/flash') %>
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @channel.name_with_prefix %> <%= @year %>年</h1>
      <ul>
        <% @month_count.each do |month, count| %>
          <li><%= link_to('%d-%02d' % [@year, month], channels_days_path(identifier: @channel.identifier, year: @year, month: '%02d' % month)) %> (<%= count %>)</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
