<% title_value = "検索結果" %>
<% title(title_value) %>
<% noindex %>
<div class="container main-container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <article>
            <div class="page-header">
              <h1><%= title_value %></h1>
            </div>

            <div class="search-conditions well">
              <table class="day-summary">
                <tbody>
                  <% unless @message_period_result.channels.empty? %>
                    <tr class="search-conditions-channels">
                      <th scope="raw">チャンネル</th>
                      <td><%= raw(@message_period_result.channels.map{ |c| link_to(c&.name_with_prefix, channel_path(c)) }.join(', ')) %></td>
                    </tr>
                  <% end %>
                  <% if @message_period.since.present? %>
                    <tr class="search-conditions-since">
                      <th scope="raw">開始日時</th>
                      <td><%= @message_period.since.strftime('%F %T') %></td>
                    </tr>
                  <% end %>
                  <% if @message_period.until.present? %>
                    <tr class="search-conditions-until">
                      <th scope="raw">終了日時</th>
                      <td><%= @message_period.until.strftime('%F %T') %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <th scope="row">発言数</th>
                    <td><%= @message_period_result.conversation_messages_count %></td>
                  </tr>
                  <% unless @message_period_result.privmsg_keyword_relationships %>
                    <tr id="keyword-list">
                      <th scope="row">キーワード</th>
                      <td>
                        <ul class="list-unstyled">
                          <% @message_period_result.keywords_privmsgs_for_header.each do |keyword, privmsgs| %>
                            <li>
                              <%= link_to(sanitize(keyword.display_title), keyword, class: 'channel-day-keyword-link') %>
                              <% privmsgs.each do |m| %>
                                <%= link_to(m.timestamp.strftime('%T'), "##{m.fragment_id}", class: 'keyword-list-time') %>
                              <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <%= render('shared/message_with_datetime_list', messages: @message_period_result.messages, privmsg_keyword_relationships: @message_period_result.privmsg_keyword_relationships, show_channel: true, style: :normal) %>
          </article>
        </div>
      </div>
    </div>

    <aside class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">条件を変更して検索する</h1>
        </div>
        <div class="panel-body">
          <% channel_option_tags = Channel.name_identifier_pairs %>
          <%= form_for(@message_period, url: messages_period_path) do |f| %>
            <div class="form-group">
              <%= f.label(:channels) %>
              <%= f.select(:channels, channel_option_tags, {}, multiple: true, class: 'form-control', size: 5) %>
            </div>

            <div class="form-group">
              <%= f.label(:since) %>
              <%= render('shared/datetime_picker', form: f, id: :since) %>
            </div>

            <div class="form-group">
              <%= f.label(:until) %>
              <%= render('shared/datetime_picker', form: f, id: :until) %>
            </div>

            <div class="form-group text-right">
              <%= f.button(fa_icon('search', text: '検索'), name: 'search', class: 'btn btn-success') %>
            </div>
          <% end %>
        </div>
      </div>
    </aside>
  </div>
</div>
