<% year_month_str = '%d-%02d' % [@year, @month] %>
<% title([@channel.name_with_prefix, year_month_str]) %>
<%= render('shared/navbar') %>
<div class="container main-container">
  <%= render('shared/flash') %>
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><%= link_to('チャンネル', channels_path) %></li>
        <li><%= link_to(@channel.name_with_prefix, @channel) %></li>
        <li><%= link_to("#{@year}年", channels_months_path(channels_months_path_params(@channel, @year))) %></li>
        <li class="active"><%= @month %>月</li>
      </ol>

      <div class="page-header">
        <h1><%= @channel.name_with_prefix %> <%= year_month_str %></h1>
      </div>
      <ul>
        <% @dates.each do |date| %>
          <li><%= link_to(date.strftime('%F'), channels_day_path(channels_day_path_params(@channel, date))) %>（<%= @speech_count[date] || 0 %> 発言）</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
