<% date_str = @date.strftime('%F') %>
<% title([@channel.name_with_prefix, date_str]) %>
<%= render('shared/navbar') %>
<div class="container main-container">

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <ol class="breadcrumb">
            <li><%= link_to('チャンネル', channels_path) %></li>
            <li><%= link_to(@channel.name_with_prefix, @channel) %></li>
            <li><%= link_to("#{@date.year}年", channels_months_path(@browse_year.params_for_url)) %></li>
            <li><%= link_to("#{@date.month}月", channels_days_path(@browse_month.params_for_url)) %></li>
            <li class="active"><%= @date.day %>日</li>
          </ol>

          <article>
            <div class="page-header">
              <h1><%= @channel.name_with_prefix %> <%= date_str %></h1>
            </div>

            <div class="well">
              <table class="day-summary">
                <tbody>
                  <tr>
                    <th scope="row">発言数</th>
                    <td><%= @conversation_messages.length %></td>
                  </tr>
                  <tr>
                    <th scope="row">表示</th>
                    <td>
                      <form>
                        <label class="checkbox-inline">
                          <input type="checkbox" id="show-speeches" name="show-speeches" checked />
                          発言
                        </label>
                        <label class="checkbox-inline">
                          <input type="checkbox" id="show-nick" name="show-nick" checked />
                          ニックネーム変更
                        </label>
                        <label class="checkbox-inline">
                          <input type="checkbox" id="show-join-part" name="show-join-part" />
                          参加・退出
                        </label>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <p><%= link_to(fa_icon('chevron-left', text: '前日'), @browse_prev_day.path, class: 'btn btn-primary btn-sm') %></p>
              </div>
              <div class="col-xs-6">
                <p class="text-right"><%= link_to(raw("翌日 #{fa_icon('chevron-right')}"), @browse_next_day.path, class: 'btn btn-primary btn-sm') %></p>
              </div>
            </div>

            <ul class="nav nav-tabs">
              <li role="presentation" class="<%= nav_tab_class(@list_style == :normal) %>"><%= link_to('通常表示', (@list_style == :normal) ? '#' : @browse_day.path) %></a></li>
              <li role="presentation" class="<%= nav_tab_class(@list_style == :raw) %>"><%= link_to('生ログ', (@list_style == :raw) ? '#' : @browse_day.path) %></a></li>
            </ul>

            <% if @list_style == :raw %>
              <div class="raw-log">
                <%= render(partial: 'raw_message', collection: @sorted_messages, as: :m) %>
              </div>
            <% else %>
              <%= render('shared/message_list', messages: @sorted_messages, show_channel: false) %>
            <% end %>

            <div class="alert alert-info no-message-to-show">表示するメッセージがありません。</div>

            <div class="row">
              <div class="col-xs-6">
                <p><%= link_to(fa_icon('chevron-left', text: '前日'), @browse_prev_day.path, class: 'btn btn-primary btn-sm') %></p>
              </div>
              <div class="col-xs-6">
                <p class="text-right"><%= link_to(raw("翌日 #{fa_icon('chevron-right')}"), @browse_next_day.path, class: 'btn btn-primary btn-sm') %></p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <aside class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= month_calendar(start_date: @calendar_start_date, attribute: :date, events: @message_dates) do |date, events| %>
            <% if events.empty? %>
              <%= date.day %>
            <% else %>
              <% browse_other_day = ChannelBrowse::Day.new(channel: @channel, date: date) %>
              <%= link_to(date.day, browse_other_day.path) %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= @date.strftime('%Y-%m-%d') %> の他チャンネル</h1>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled other-channel-list">
            <% @other_channels.each do |channel| %>
              <% browse_other_channel = ChannelBrowse::Day.new(channel: channel, date: @date) %>
              <li><%= link_to(channel.name_with_prefix, browse_other_channel.path) %></li>
            <% end %>
          </ul>
        </div>
    </aside>
  </div>
</div>
