<% title('利用者情報の編集') %>
<div class="container main-container">
  <div class="row">
    <%= render('shared/admin/navigation') %>

    <div class="col-xs-12 col-sm-9">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <ol class="breadcrumb">
            <li><%= link_to('管理', admin_path) %></li>
            <li><%= link_to('利用者', users_path) %></li>
            <li><%= link_to(@user.username, @user) %></li>
            <li class="active">編集</li>
          </ol>

          <div class="page-header">
            <h1>利用者情報の編集</h1>
          </div>

          <%= render('shared/error_messages', target: @user) %>

          <%= render('form', user: @user) %>
        </div>
      </div>
    </div>
  </div>
</div>
