<% title('利用者情報の編集') %>
<%= render('shared/navbar') %>
<div class="container main-container">
  <%= render('shared/flash') %>

  <div class="row">
    <nav class="col-xs-12 col-md-3 visible-md visible-lg admin">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">管理</h1>
        </div>

        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><%= link_to(fa_icon('user', text: '利用者'), users_path) %></li>
          <li role="presentation"><%= link_to(fa_icon('cog', text: '設定'), settings_path) %></li>
        </ul>
      </div>
    </nav>

    <div class="col-xs-12 col-md-9">
      <ol class="breadcrumb">
        <li><%= link_to('管理', admin_path) %></li>
        <li><%= link_to('利用者', users_path) %></li>
        <li><%= link_to(@user.username, @user) %></li>
        <li class="active">編集</li>
      </ol>

      <div class="page-header">
        <h1>利用者情報の編集</h1>
      </div>

      <%= render('shared/error_messages', target: @user) %>

      <%= render('form', user: @user) %>
    </div>
  </div>
</div>
