<% title('利用者') %>
<%= render('shared/navbar') %>
<div class="container main-container">
  <div class="row">
    <%= render('shared/admin/nav_users') %>

    <div class="col-xs-12 col-sm-9">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <ol class="breadcrumb visible-xs-block">
            <li><%= link_to('管理', admin_path) %></li>
            <li class="active">利用者</li>
          </ol>

          <div class="page-header">
            <h1>利用者</h1>
          </div>

          <p><%= link_to('追加', new_user_path, class: 'btn btn-success') %></p>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>利用者名</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= link_to(user.username, user) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
