<% title_value = "検索結果：#{@message_search.query}" %>
<% title(title_value) %>
<%= render('shared/navbar') %>
<div class="container main-container">
  <%= render('shared/flash') %>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>検索結果</h1>
      </div>

      <div class="search-conditions well">
        <h2>検索条件</h2>
        <ul>
          <li>検索文字列：<%= @message_search.query %></li>
          <% unless @result.channels.empty? %>
            <li>チャンネル：<%= @result.channels.map(&:name_with_prefix).join(', ') %></li>
          <% end %>
          <% if @message_search.since.present? %>
            <li>開始日：<%= @message_search.since.strftime('%F') %></li>
          <% end %>
          <% if @message_search.until.present? %>
            <li>終了日：<%= @message_search.until.strftime('%F') %></li>
          <% end %>
        </ul>
      </div>

      <p><%= page_entries_info(@result.messages) %></p>

      <% @result.message_groups.each do |date, messages| %>
        <h2><%= date.strftime('%F') %></h2>

        <%= render('shared/message_list', messages: messages) %>
      <% end %>

      <%= paginate(@result.messages, outer_window: 2) %>
    </div>
  </div>
</div>
