<% title_value = "検索結果：#{@message_search.query}（#{@result.channel.name_with_prefix}）" %>
<% title(title_value) %>
<%= render('shared/navbar') %>
<div class="container main-container">
  <%= render('shared/flash') %>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1><%= title_value %></h1>
      </div>
      <p><%= page_entries_info(@result.messages) %></p>
      <% @result.message_groups.each do |date, messages| %>
        <% browse_day = ChannelBrowse::Day.new(channel: @result.channel, date: date) %>
        <h2><%= link_to(date.strftime('%F'), channels_day_path(browse_day.params_for_url)) %></h2>
        <%= render('shared/message_list', messages: messages) %>
      <% end %>
      <%= paginate(@result.messages, outer_window: 2) %>
    </div>
  </div>
</div>
