<% title_value = "検索結果：#{@message_search.query}" %>
<% title(title_value) %>
<%= render('shared/navbar') %>
<div class="container main-container">
  <%= render('shared/flash') %>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>検索結果</h1>
      </div>

      <div class="search-conditions well">
        <h2>検索条件</h2>
        <ul>
          <li>検索文字列：<%= @message_search.query %></li>
          <% if @result.channel %>
            <li>チャンネル：<%= @result.channel.name %></li>
          <% end %>
        </ul>
      </div>

      <p><%= page_entries_info(@result.messages) %></p>

      <% @result.message_groups.each do |date, messages| %>
        <% formatted_date = date.strftime('%F') %>
        <% if @result.channel %>
          <% browse_day = ChannelBrowse::Day.new(channel: @result.channel, date: date) %>
          <h2><%= link_to(formatted_date, channels_day_path(browse_day.params_for_url)) %></h2>
        <% else %>
          <h2><%= formatted_date %></h2>
        <% end %>

        <%= render('shared/message_list', messages: messages) %>
      <% end %>

      <%= paginate(@result.messages, outer_window: 2) %>
    </div>
  </div>
</div>
