<% title_value = "検索結果：#{@message_search.query}" %>
<% title(title_value) %>
<div class="container main-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <div class="page-header">
            <h1>検索結果</h1>
          </div>

          <div class="search-conditions well">
            <h2>検索条件</h2>
            <ul>
              <% if @message_search.query.present? %>
                <li>検索文字列：<%= @message_search.query %></li>
              <% end %>
              <% if @message_search.nick.present? %>
                <li>ニックネーム：<%= @message_search.nick %></li>
              <% end %>
              <% unless @result.channels.empty? %>
                <li>チャンネル：<%= @result.channels.map(&:name_with_prefix).join(', ') %></li>
              <% end %>
              <% if @message_search.since.present? %>
                <li>開始日：<%= @message_search.since.strftime('%F') %></li>
              <% end %>
              <% if @message_search.until.present? %>
                <li>終了日：<%= @message_search.until.strftime('%F') %></li>
              <% end %>
            </ul>
          </div>

          <p><%= page_entries_info(@messages) %></p>

          <% privmsg_keyword_relationships ||= [] %>
          <% privmsg_id_keyword_map = privmsg_keyword_relationships.map { |r| [r.privmsg_id, r.keyword] }.to_h %>
          <%= render(partial: 'message_group', collection: @result.message_groups.to_a, locals: { privmsg_keyword_relationships: @privmsg_keyword_relationships, privmsg_id_keyword_map: privmsg_id_keyword_map }) %>

          <%= paginate(@messages, outer_window: 2) %>
        </div>
      </div>
    </div>
  </div>
</div>
