<div role="tabpanel" class="<%= (@invalid_model == :message_search) ? 'tab-pane' : 'tab-pane active' %>" id="browse">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">チャンネルから探す</h2>
    </div>

    <div class="panel-body">
      <% if @invalid_model == :channel_browse %>
        <%= render('shared/error_messages', target: @channel_browse) %>
      <% end %>

      <%= form_for(@channel_browse, url: browse_path) do |f| %>
        <div class="form-group">
          <%= f.label(:channel) %>
          <%= f.select(:channel, channel_option_tags, { prompt: true }, class: 'form-control', required: true) %>
        </div>

        <fieldset>
          <%= f.label(:date_type) %>
          <div id="channel_browse_date_type" class="form-group">
            <label class="radio-inline">
              <%= f.radio_button(:date_type, 'today', class: 'date-type-radio') %> 今日
            </label>
            <label class="radio-inline">
              <%= f.radio_button(:date_type, 'yesterday', class: 'date-type-radio') %> 昨日
            </label>
            <label class="radio-inline">
              <%= f.radio_button(:date_type, 'specify', class: 'date-type-radio') %> 指定
            </label>
          </div>

          <div class="form-group by-channel-date">
            <%= render('shared/date_picker', form: f, id: :date) %>
          </div>
        </fieldset>

        <div class="form-group">
          <%= f.button(fa_icon('arrow-right', text: '閲覧'), type: 'submit', name: 'browse', class: 'btn btn-success') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
