<%= render('shared/navbar') %>
<div class="container main-container">
  <%= render('shared/flash') %>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>irc.cre.jp ログアーカイブ</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= fa_icon('search', text: 'キーワードから探す') %></h2>
        </div>
        <div class="panel-body">
          <%= form_tag(messages_path, method: :get, class: 'search-form') do %>
            <div class="form-group">
              <%= label_tag(:keyword, 'キーワード') %>
              <%= text_field_tag(:keyword, '', class: 'form-control', required: true) %>
            </div>
            <div class="form-group">
              <%= label_tag(:channel, 'チャンネル') %>
              <%= select_tag(:channel, options_for_select(@channel_data_for_select), class: 'form-control', required: true) %>
            </div>
            <div class="form-group">
              <%= label_tag(:since, '開始日') %>
              <%= render('shared/date_picker', id: :since) %>
            </div>
            <div class="form-group">
              <%= label_tag(:until, '終了日') %>
              <%= render('shared/date_picker', id: :until) %>
            </div>
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
                <p><%= button_tag(fa_icon('search', text: '検索'), type: 'submit', name: 'search', class: 'btn btn-primary btn-block') %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= fa_icon('folder-open', text: 'チャンネルから探す') %></h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped channel-list">
            <thead>
              <tr>
                <th class="channel-list-name">チャンネル名</th>
                <th class="channel-list-date">日付</th>
              </tr>
            </thead>
            <tbody>
              <% @channels.each do |channel| %>
                <tr>
                  <td class="channel-list-name"><%= link_to(channel.name_with_prefix, channel_path(channel.identifier)) %></td>
                  <td class="channel-list-date">
                    <%= link_to('今日', channels_day_path(channels_day_path_params(channel, @today))) %> /
                    <%= link_to('昨日', channels_day_path(channels_day_path_params(channel, @yesterday))) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
