<div class="container main-container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <div class="jumbotron">
            <h1><%= site_title %></h1>

            <div class="text-on-homepage">
              <%= markdown(@setting.text_on_homepage) %>
            </div>

            <p class="jumbotron-bg-license"><small><%= link_to(fa_icon('creative-commons'), 'https://creativecommons.org/licenses/by-nc-sa/2.0/deed.ja', title: 'CC BY-NC-SA 2.0') %> &quot;<%= link_to('The Die', 'https://www.flickr.com/photos/n0rfin/8029041600/') %>&quot; by <%= link_to('Zane Mattingly', 'https://www.flickr.com/photos/n0rfin/') %></small></p>
          </div>

          <!-- Navタブ -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="<%= (@invalid_model == :message_search) ? '' : 'active' %>"><a href="#browse" aria-controls="browse" role="tab" data-toggle="tab"><%= fa_icon('folder-open', text: 'チャンネル') %></a></li>
            <li role="presentation" class="<%= (@invalid_model == :message_search) ? 'active' : '' %>"><a href="#search" aria-controls="search" role="tab" data-toggle="tab"><%= fa_icon('search', text: '検索') %></a></li>
            <li role="presentation" class="<%= (@invalid_model == :message_period) ? 'active' : '' %>"><a href="#period" aria-controls="period" role="tab" data-toggle="tab"><%= fa_icon('arrows-h', text: '期間') %></a></li>
          </ul>

          <!-- タブペーン -->
          <% channel_option_tags = Channel.name_identifier_pairs %>
          <div class="tab-content">
            <%= render('welcome/browse_panel', channel_option_tags: channel_option_tags) %>

            <%= render('welcome/search_panel', channel_option_tags: channel_option_tags) %>

            <%= render('welcome/period_panel', channel_option_tags: channel_option_tags) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
