<%= form_for(target, url: settings_path) do |f| %>
  <div class="form-group">
    <%= f.label(:site_title) %>
    <%= f.text_field(:site_title, class: 'form-control', required: true) %>
  </div>

  <div class="form-group">
    <%= f.label(:text_on_homepage) %>
    <%= f.text_area(:text_on_homepage, class: 'form-control text-on-homepage', 'aria-describedby' => 'text-on-homepage-markdown-support') %>
    <p id="text-on-homepage-markdown-support" class="help-block"><a href="https://ja.wikipedia.org/wiki/Markdown">Markdown</a>（<a href="https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown">GitHub Flavored Markdown</a>）書式に対応しています。</p>
  </div>

  <div class="form-group">
    <%= f.submit(t('views.save'), class: 'btn btn-primary') %>
  </div>
<% end %>
