<%= form_for(target, url: settings_path) do |f| %>
  <div class="form-group">
    <%= f.label(:site_title) %>
    <%= f.text_field(:site_title, class: 'form-control', required: true) %>
  </div>

  <div class="form-group">
    <%= f.label(:text_on_homepage) %>
    <%= f.text_area(:text_on_homepage, class: 'form-control text-on-homepage', 'aria-describedby' => 'text-on-homepage-markdown-support', rows: 10) %>
    <p id="text-on-homepage-markdown-support" class="help-block"><a href="https://ja.wikipedia.org/wiki/Markdown">Markdown</a>（<a href="https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown">GitHub Flavored Markdown</a>）書式に対応しています。</p>
  </div>

  <div class="form-group">
    <%= f.label(:target_amazon_affiliate_tag) %>
    <%= f.text_area(:target_amazon_affiliate_tag, class: 'form-control target-amazon-affiliate-tag', 'aria-describedby' => 'target-amazon-affiliate-tag-help-block', rows: 3) %>
    <p id="target-amazon-affiliate-tag-help-block" class="help-block">ここで指定した Amazon アフィリエイトタグを、以下で指定したものに差し替えます。<br>1行に1つずつタグを記入してください。</p>
  </div>

  <div class="form-group">
    <%= f.label(:amazon_affiliate_tag) %>
    <%= f.text_field(:amazon_affiliate_tag, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label(:nick_target_affiliate_message_by) %>
    <%= f.text_area(:nick_target_affiliate_message_by, class: 'form-control nick-target-affiliate-message-by', 'aria-describedby' => 'nick-target-affiliate-message-by-help-block', rows: 3) %>
    <p id="nick-target-affiliate-message_by-help-block" class="help-block">ここで指定したニックネームの利用者の発言のみ、置換の対象とします。<br>1行に1つずつニックネームを記入してください。</p>
  </div>

  <div class="form-group">
    <%= f.submit(t('views.save'), class: 'btn btn-success') %>
  </div>
<% end %>
