<% title('発言の非表示理由の追加') %>
<div class="container main-container">
  <div class="row">
    <%= render('shared/admin/nav_archive_reasons') %>

    <div class="col-xs-12 col-sm-9">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <ol class="breadcrumb">
            <li><%= link_to('管理', admin_path) %></li>
            <li><%= link_to('発言の非表示理由', admin_archive_reasons_path) %></li>
            <li class="active">追加</li>
          </ol>

          <div class="page-header">
            <h1>発言の非表示理由の追加</h1>
          </div>

          <%= render('shared/error_messages', target: @archive_reason) %>

          <%= render('form', path: admin_archive_reasons_path) %>
        </div>
      </div>
    </div>
  </div>
</div>
