<% title('現在の状態') %>
<div class="container main-container">
  <div class="row">
    <%= render('shared/admin/navigation') %>

    <div class="col-xs-12 col-sm-9">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <div class="page-header">
            <h1>現在の状態</h1>
          </div>

          <section class="app-status">
            <h2>Webアプリケーションの状態</h2>
            <table class="table table-striped app-status-list">
              <tbody>
                <tr>
                  <th class="app-status-version">バージョン</th>
                  <td id="app-version" class="app-status-version"><%= @app_status.version %></td>
                </tr>
                <tr>
                  <th class="app-status-commit-id">コミット ID</th>
                  <td id="app-commit-id" class="app-status-commit-id"><%= format_commit_id(@app_status.commit_id) %></td>
                </tr>
                <tr>
                  <th class="app-status-uptime">稼働時間</th>
                  <td id="app-uptime" class="app-status-uptime"><%= @app_status.formatted_uptime %>（<%= @app_status.start_time.strftime('%F %T') %> に起動）</td>
                </tr>
              </tbody>
            </table>
          </section>

          <section class="irc-bot-status">
            <h2>IRCボットの状態</h2>
            <% if @exception_on_fetching_irc_bot_status %>
              <div class="alert alert-danger">
                <%= fa_icon('exclamation-triangle') %> IRCボットの状態を取得できませんでした: <%= @exception_on_fetching_irc_bot_status.message %>
              </div>
            <% else %>
              <table class="table table-striped irc-bot-status-list">
                <tbody>
                  <tr>
                    <th class="irc-bot-status-version">バージョン</th>
                    <td id="irc-bot-version" class="irc-bot-status-version"><%= @irc_bot_status.version %></td>
                  </tr>
                  <tr>
                    <th class="irc-bot-status-commit-id">コミット ID</th>
                    <td id="irc-bot-commit-id" class="irc-bot-status-commit-id"><%= format_commit_id(@irc_bot_status.commit_id) %></td>
                  </tr>
                  <tr>
                    <th class="irc-bot-status-uptime">稼働時間</th>
                    <td id="irc-bot-uptime" class="irc-bot-status-uptime"><%= @irc_bot_status.formatted_uptime %>（<%= @irc_bot_status.start_time.strftime('%F %T') %> に起動）</td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </section>

          <section class="sidekiq-status">
            <h2>バックグラウンドジョブの状態</h2>
            <p><%= link_to('詳細を見る(Sidekiq Dashboard)', admin_sidekiq_web_path) %></p>
            <table class="table table-striped sidekiq-status-list">
              <tbody>
                <tr>
                  <th class="sidekiq-status-version">バージョン</th>
                  <td id="sidekiq-version" class="sidekiq-status-version"><%= Sidekiq::VERSION %></td>
                </tr>
                <tr>
                  <th class="sidekiq-status-processed">実行完了</th>
                  <td id="sidekiq-processed" class="sidekiq-status-processed"><%= @sidekiq_statuses.processed %></td>
                </tr>
                <tr>
                  <th class="sidekiq-status-processes">実行中</th>
                  <td id="sidekiq-processes" class="sidekiq-status-processes"><%= @sidekiq_statuses.processes_size %></td>
                </tr>
                <tr>
                  <th class="sidekiq-status-failed">失敗</th>
                  <td id="sidekiq-failed" class="sidekiq-status-failed"><%= @sidekiq_statuses.failed %></td>
                </tr>
                <tr>
                  <th class="sidekiq-status-scheduled">予定キュー内</th>
                  <td id="sidekiq-scheduled" class="sidekiq-status-scheduled"><%= @sidekiq_statuses.scheduled_size %></td>
                </tr>
                <tr>
                  <th class="sidekiq-status-retry">再試行キュー内</th>
                  <td id="sidekiq-retry" class="sidekiq-status-retry"><%= @sidekiq_statuses.retry_size %></td>
                </tr>
                <tr>
                  <th class="sidekiq-status-dead">デッド状態</th>
                  <td id="sidekiq-dead" class="sidekiq-status-dead"><%= @sidekiq_statuses.dead_size %></td>
                </tr>
                <tr>
                  <th class="sidekiq-status-workers">ワーカー</th>
                  <td id="sidekiq-workers" class="sidekiq-status-workers"><%= @sidekiq_statuses.workers_size %></td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
