<%= form_for(@archived_conversation_message, url: path) do |f| %>
  <div class="form-group">
    <%= f.label(:archive_reason_id) %>
    <%= f.collection_select(:archive_reason_id, @archive_reasons, :id, :reason, {prompt: '選択して下さい'}, class: 'form-control', required: true) %>
    <p class="help-block">非表示理由を選択してください。</p>
  </div>

  <div class="form-group">
    <%= f.hidden_field(:old_id, value: @conversation_message.id) %>
    <%= f.submit(t('views.save'), class: 'btn btn-success') %>
    <%= link_to('メッセージ詳細に戻る', admin_conversation_message_path, class: 'btn btn-default') %>
  </div>
<% end %>
