<% title('発言の非表示') %>
<div class="container main-container">
  <div class="row">
    <%= render('shared/admin/nav_conversation_messages') %>

    <div class="col-xs-12 col-sm-9">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <ol class="breadcrumb">
            <li><%= link_to('管理', admin_path) %></li>
            <li><%= link_to('発言の非表示', admin_archived_conversation_messages_path) %></li>
            <li class="active"><%= @conversation_message.id %></li>
          </ol>

          <div class="page-header">
            <h1>発言の非表示</h1>
          </div>

          <%= render('shared/admin/message_detail', m: @conversation_message) %>

          <p>
          <%= link_to('非表示化', edit_admin_conversation_message_path(id: @conversation_message.id), class: 'btn btn-success') %>
          <%= link_to('日付別のメッセージ表示に戻る', @browse_day.path(anchor: @conversation_message.fragment_id), id: @conversation_message.fragment_id, class: 'btn btn-default') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
