<% title(['管理', 'チャンネル']) %>
<div class="container main-container">
  <div class="row">
    <%= render('shared/admin/nav_channels') %>

    <div class="col-xs-12 col-sm-9">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <ol class="breadcrumb visible-xs-block">
            <li><%= link_to('管理', admin_path) %></li>
            <li class="active">チャンネル</li>
          </ol>

          <div class="page-header">
            <h1>チャンネル</h1>
          </div>

          <p>
          <%= link_to('追加', new_channel_path, class: 'btn btn-success') %>
          <%= link_to('並び替え', admin_channel_order_path, class: 'btn btn-default') %>
          </p>

          <table class="table table-striped channel-list">
            <thead>
              <tr>
                <th class="channel-name">チャンネル名</th>
                <th class="channel-identifier">識別子</th>
                <th class="channel-logging-enabled">ログ記録中</th>
                <th class="channel-canonical-site">マスターサイト</th>
              </tr>
            </thead>
            <tbody>
              <% @channels.each do |channel| %>
                <tr>
                  <td class="channel-name"><%= link_to(channel.name_with_prefix, admin_channel_path(channel)) %></td>
                  <td class="channel-identifier"><%= channel.identifier %></td>
                  <td class="channel-logging-enabled"><%= channel.logging_enabled? ? fa_icon('check') : '' %></td>
                  <td class="channel-canonical-site"><%= channel.canonical_site == '' ? '無効' : channel.canonical_site %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
