<% title(['管理', 'チャンネル']) %>
<div class="container main-container">
  <div class="row">
    <%= render('shared/admin/navigation') %>

    <div class="col-xs-12 col-sm-9">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <ol class="breadcrumb visible-xs-block">
            <li>管理</li>
            <li class="active">チャンネル</li>
          </ol>

          <div class="page-header">
            <h1>チャンネル</h1>
          </div>

          <p>
          <%= link_to('追加', new_channel_path, class: 'btn btn-success') %>
          <%= link_to('並び替え', admin_channel_order_path, class: 'btn btn-default') %>
          </p>

          <table class="table table-striped channel-list">
            <thead>
              <tr>
                <th class="channel-name">チャンネル名</th>
                <th class="channel-identifier">識別子</th>
                <th class="channel-logging-enabled">ログ記録中</th>
                <th class="channel-canonical-url-template">正規 URL のテンプレート</th>
              </tr>
            </thead>
            <tbody>
              <% @channels.each do |channel| %>
                <tr>
                  <td class="channel-name"><%= link_to(channel.name_with_prefix, admin_channel_path(channel)) %></td>
                  <td class="channel-identifier"><%= channel.identifier %></td>
                  <td class="channel-logging-enabled"><%= channel.logging_enabled? ? fa_icon('check') : '' %></td>
                  <td class="channel-canonical-url-template"><%= channel.canonical_url_template? ? channel.canonical_url_template : '無効' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <h2>一括処理</h2>
          <p>全てのチャンネル・メッセージを対象として、一括処理を行ないます。</p>

          <h3>フラグメント識別子の再設定</h3>
          <p>全てのメッセージのフラグメント識別子を初期化し、再計算します。</p>
          <p><%= link_to('フラグメント識別子を再設定する', admin_channels_refresh_digests_path, class: 'btn btn-success') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
