<% title('チャンネル情報') %>
<div class="container main-container">
  <div class="row">
    <%= render('shared/admin/navigation') %>

    <div class="col-xs-12 col-sm-9">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <ol class="breadcrumb">
            <li>管理</li>
            <li><%= link_to('チャンネル', admin_channels_path) %></li>
            <li class="active"><%= @channel.name_with_prefix %></li>
          </ol>

          <div class="page-header">
            <h1>チャンネル情報</h1>
          </div>

          <table class="table table-striped channel-info">
            <tbody>
              <tr>
                <th scope="row" class="channel-name">チャンネル名</th>
                <td class="channel-name"><%= link_to(@channel.name_with_prefix, channel_path(@channel)) %></td>
              </tr>
              <tr>
                <th scope="row" class="channel-identifier">識別子</th>
                <td class="channel-identifier"><%= @channel.identifier %></td>
              </tr>
              <tr>
                <th scope="row" class="channel-logging-enabled">ログ記録中</th>
                <td class="channel-logging-enabled"><%= @channel.logging_enabled? ? fa_icon('check') : '' %></td>
              </tr>
              <tr>
                <th scope="row" class="channel-canonical-site-template">正規 URL のテンプレート</th>
                <td class="channel-canonical-site-template"><%= @channel.canonical_url_template? ? @channel.canonical_url_template : '無効' %></td>
              </tr>
              <% if @channel.canonical_url_template? %>
                <tr>
                  <th scope="row" class="channel-canonical-site-example">正規 URL の転送先例</th>
                  <td class="channel-canonical-site-example">
                    <% today = Date.today %>
                    <% url = @channel.canonical_url(year: today.year, month: today.month, day: today.day) %>
                    <%= link_to(url, url) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <p><%= link_to('編集', edit_channel_path(@channel), class: 'btn btn-success') %></p>

          <h2>最終発言キャッシュの更新</h2>
          <table class="table table-striped channel-info">
            <tbody>
              <tr>
                <th scope="row" class="channel-last-speech-timestamp">最終発言日時（キャッシュ）</th>
                <td class="channel-last-speech-timestamp"><%= last_speech_timestamp_link(@channel) %></td>
              </tr>
            </tbody>
          </table>

          <p>表示の高速化のため、最終発言の情報はキャッシュされます。このキャッシュは、IRC ボットによって発言が記録された際に更新されます。</p>
          <p>キャッシュされた最終発言の情報が正しくない場合は、以下のボタンを押して更新してください。</p>
          <p><%= link_to('最終発言のキャッシュを更新する', admin_channels_update_last_speech_path(@channel), class: 'btn btn-success') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
