<table class="table table-striped channel-info">
  <tbody>
    <tr>
      <th scope="row" class="message-type">IRC コマンド</th>
      <td class="message-type"><%= m.type %></td>
    </tr>
    <tr>
      <th scope="row" class="message-channel">チャンネル名</th>
      <td class="message-channel"><%= link_to(m.channel.name_with_prefix, channel_path(m.channel)) %></td>
    </tr>
    <tr>
      <th scope="row" class="message-timestamp">発言日時</th>
      <td class="message-timestamp"><%= m.timestamp.strftime('%F %T') %></td>
    </tr>
    <tr>
      <th scope="row" class="message-user">発言者</th>
      <td class="message-user"><%= "#{m.nick}!#{m.irc_user.user}@#{m.irc_user.host}" %></td>
    </tr>
    <tr>
      <th scope="row" class="message-body">内容</th>
      <td class="message-body"><%= raw(linkify(m.message)) %></td>
    </tr>
    <tr>
      <th scope="row" class="message-digest">フラグメント識別子</th>
      <td class="message-body"><%= m.fragment_id %></td>
    </tr>
    <tr>
      <th scope="row" class="message-status">現在の設定</th>
      <% if m.kind_of?(ConversationMessage) %>
        <td class="message-status">表示中</td>
      <% else %>
        <td class="message-status">非表示: <%= link_to(m.archive_reason.reason, admin_archive_reason_path(m.archive_reason)) %></td>
      <% end %>
    </tr>
  </tbody>
</table>
