<nav class="col-xs-12 col-sm-3 hidden-xs admin">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">管理</h1>
    </div>

    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><%= link_to(fa_icon('info-circle', text: '現在の状態'), admin_status_path) %></li>
      <li role="presentation"><%= link_to(fa_icon('user', text: '利用者'), users_path) %></li>
      <li role="presentation"><%= link_to(fa_icon('cog', text: '設定'), settings_path) %></li>
      <li role="presentation" class="active"><%= link_to(fa_icon('folder-open', text: 'チャンネル'), admin_channels_path) %></li>
      <li role="presentation"><%= link_to(fa_icon('comments', text: '発言の非表示'), admin_conversation_messages_path) %></li>
      <li role="presentation"><%= link_to(fa_icon('question-circle', text: '発言の非表示理由'), admin_archive_reasons_path) %></li>
    </ul>
  </div>
</nav>
