<% title('発言の非表示') %>
<div class="container main-container">
  <div class="row">
    <%= render('shared/admin/nav_conversation_messages') %>

    <div class="col-xs-12 col-sm-9">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <ol class="breadcrumb">
            <li><%= link_to('管理', admin_path) %></li>
            <li><%= link_to('発言の非表示', admin_conversation_messages_path) %></li>
            <li class="active">詳細</li>
          </ol>

          <div class="page-header">
            <h1>発言の非表示</h1>
          </div>

          <table class="table table-striped channel-info">
            <tbody>
              <tr>
                <th scope="row" class="message-type">IRC コマンド</th>
                <td class="message-type"><%= @conversation_message.type %></td>
              </tr>
              <tr>
                <th scope="row" class="message-channel">チャンネル名</th>
                <td class="message-channel"><%= link_to(@conversation_message.channel.name_with_prefix, channel_path(@conversation_message.channel)) %></td>
              </tr>
              <tr>
                <th scope="row" class="message-timestamp">発言日時</th>
                <td class="message-timestamp"><%= @conversation_message.timestamp.strftime('%F %T') %></td>
              </tr>
              <tr>
                <th scope="row" class="message-user">発言者</th>
                <td class="message-user"><%= "#{@conversation_message.nick}!#{@conversation_message.irc_user.user}@#{@conversation_message.irc_user.host}" %></td>
              </tr>
              <tr>
                <th scope="row" class="message-body">内容</th>
                <td class="message-body"><%= raw(linkify(@conversation_message.message)) %></td>
              </tr>
              <tr>
                <th scope="row" class="message-status">現在の設定</th>
                <% if @conversation_message.class.superclass == ConversationMessage %>
                  <td class="message-status">表示中</td>
                <% else %>
                  <td class="message-status">非表示: <%= link_to(@conversation_message.archive_reason.reason, admin_archive_reason_path(@conversation_message.archive_reason)) %></td>
                <% end %>
              </tr>
            </tbody>
          </table>

          <p>
          <% if @conversation_message.class.superclass == ConversationMessage %>
            <%= link_to('非表示化', edit_admin_conversation_message_path(id: @conversation_message.id), class: 'btn btn-success') %>
          <% else %>
            <%= link_to('編集', edit_admin_conversation_message_path(@conversation_message.old_id), class: 'btn btn-success') %>
            <%= link_to('非表示メッセージ一覧に戻る', admin_conversation_messages_path, class: 'btn btn-default') %>
          <% end %>
          <%= link_to('日付別のメッセージ表示に戻る', @browse_day.path(anchor: @conversation_message.fragment_id), id: @conversation_message.fragment_id, class: 'btn btn-default') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
